{% extends "base.html" %}

{% block title %}
About This Site
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="/">Home</a> &rsaquo; 
    About
</div>
{% endblock breadcrumbs %}

{% block content %}

<p>Welcome to the Finance Game. </p>

<p>This site is an educational resource, designed to teach the student about various aspects of asset valuation in the setting of a competitive market based on asset auctions.</p>

<p>At this point, we are in a beta state, and you will see many changes in the near future.</p>

<p>In particular, documentation on auction mechanics, a friendly tutorial, and some cosmetic improvements are probably in order.</p>

{% endblock %}
