{% extends "base.html" %}
{% load filter_extras %}
{% load tag_extras %}

{% block title %}
Auction for Asset {{ auction.asset.name }}
{% endblock title %}

{% block bodytag %}
<body onLoad="document.bid.bid_amount.focus()">
{% endblock bodytag %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="/">Home</a> &rsaquo; 
    <a href="{{ auction.asset.period.world.get_absolute_url }}">World</a> &rsaquo; 
    <a href="{{ auction.asset.period.get_absolute_url }}">Period</a> &rsaquo; 
    Auction
</div>
{% endblock breadcrumbs %}

{% block content %}

{{ auction.calc_result }}

{% expr auction.did_user_bid(user) as user_bid %}

{% if user_membership.is_master %}
    <div class="change_view">
        {% block change_view %}
            <a href="{{auction.get_absolute_url}}master/" class="changelink">Master View</a>
        {% endblock change_view %}
    </div>
{% endif %}

{% if error_message %}
<ul class="error_message">
    <li>{{ error_message }}</li>
</ul>
{% endif %}

{% block edit_element_form %}
{% endblock edit_element_form %}

<h2>Auction for Asset <span class="name">{{ auction.asset.name }}</span> of World <span class="name">{{ auction.asset.period.world.name }}</span></h2>

<table id="auction_detail">
    <caption>Auction Details</caption>
    <tr>
        <th>Your bid status:</th>
        <td>
            {% if user_bid %}
                You have bid on this auction.<br>
                Your current bid is {{ user_bid.amount }}.
            {% else %}
                You have not yet bid on this auction.
            {% endif %}
        </td>
    </tr>
    <tr>
        {% if not auction.is_ended %}
            <th>Your maximum bid:<br>
            <span class="note">Format: ####.##</span></th>
            <th>
                <form name="bid" action="." method="post">
                <input type="text" name="bid_amount">
                <input type="submit" value="Place Bid">
                </form>
            </td>
        {% else %}
            <th>Status:</th>
            <td>
                Auction ended.
            </td>
        {% endif %}
    </tr>
    {% block true_value %}
    {% if auction.is_ended %}
        <tr>
            <th>Asset True Value:</th>
            <td>{{ auction.asset.true_value|floatformat:2 }}</td>
        </tr>
    {% endif %}
    {% endblock true_value %}
    <tr>
        {% if not auction.is_ended %}
            <th>End time:</th>
            <td>{{ auction.get_end_time|timeuntil }}<br>({{ auction.get_end_time }})</td>
        {% else %}
            <th>End time:</th>
            <td>Auction has ended<br>({{ auction.get_end_time }})</td>
        {% endif %}
    </tr>
    <tr>
        <th>Current time:</th>
        <td>{% now "Y-m-d H:i:s" %}</td>
    </tr>
    <tr>
        <th>Bid history:</th>
        <td><a href="{{ auction.get_absolute_url }}bid_history/">{{ auction.bid_set.count }} bids</a></td>
    </tr>
    <tr>
        <th>Start time:</th>
        <td>{{ auction.get_start_time }}</a></td>
    </tr>
</table>

<br><hr><br>

<h3>Asset <span class="name">{{ auction.asset.name }}</span> Description</h3>
<p> {% autoescape off %}{{ auction.asset.description }}{% endautoescape %} </p>

<p><a href="{{ auction.asset.period.get_absolute_url }}">[back to period]</a></p>

{% endblock %}
