{% extends "base.html" %}
{% load filter_extras %}
{% load tag_extras %}

{% block title %}
Bid History for Auction for Asset {{ auction.asset.name }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="/">Home</a> &rsaquo; 
    <a href="{{ auction.asset.period.world.get_absolute_url }}">World</a> &rsaquo; 
    <a href="{{ auction.asset.period.get_absolute_url }}">Period</a> &rsaquo; 
    <a href="{{ auction.get_absolute_url }}">Auction</a> &rsaquo; 
    Bid History
</div>
{% endblock breadcrumbs %}

{% block content %}

{% if user_membership.is_master %}
    <div class="change_view">
        {% block change_view %}
            <a href="{{auction.get_absolute_url}}bid_history/master/" class="changelink">Master View</a>
        {% endblock change_view %}
    </div>
{% endif %}
<h2>Bid History for Auction for Asset <span class="name">{{ auction.asset.name }}</span></h2>

<ul>
    <li>Bids: {{ auction.bid_set.count }}</li>
    <li>Time left: 
        {% if not auction.is_ended %}
            {{ auction.get_end_time|timeuntil }}
        {% else %}
            Auction has ended.
        {% endif %}
    </li>
    {% block true_value_display %}
        {% if auction.is_ended %}
            <li>Asset true value: {{ auction.asset.true_value|floatformat:2 }}</li>
        {% endif %}
    {% endblock true_value_display %}
</ul>

<table class="site">
    <tr>
        <th>Bidder</th>
        {% block first_last_title %}
        {% endblock first_last_title %}
        <th>Bid amount</th>
        <th>Bid time</th>
    </tr>
        
    {% for bid in auction.bid_set.all %}
    <tr>
        <td class="left">
            {% block bidder_display %}
                {% ifequal user.id bid.bidder.id %}
                    {{ bid.bidder.username }}
                {% else %}
                    [hidden]
                {% endifequal %}
            {% endblock bidder_display %}
        </td>
        {% block first_last_display %}
        {% endblock first_last_display %}
        <td>
            {% block bid_amount_display %}
                {% ifequal user.id bid.bidder.id %}
                    {{ bid.amount|floatformat:2 }}
                {% else %}
                    {% if auction.is_ended %}
                        {{ bid.amount|floatformat:2 }}
                    {% else %}
                        [hidden]
                    {% endif %}
                {% endifequal %}
            {% endblock bid_amount_display %}
        </td>
        <td>{{ bid.time }}</td>
    </tr>
    {% empty %}
    <tr>
        <td>No bids.</td>
    </tr>
    {% endfor %}
        
</table>

<ul class="notes">
    <li>Names of bidders other than you are hidden.</li>
    <li>Bid amounts are hidden until auction end.</li>
</ul>

<p><a href="{{ auction.get_absolute_url }}">[Back to auction]</a></p>

{% endblock %}
