{% extends "base.html" %}
{% load filter_extras %}
{% load tag_extras %}

{% block title %}
Auction for Asset {{ auction.asset.name }}: Confirm Bid
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="/">Home</a> &rsaquo; 
    <a href="{{ auction.asset.period.world.get_absolute_url }}">World</a> &rsaquo; 
    <a href="{{ auction.asset.period.get_absolute_url }}">Period</a> &rsaquo; 
    <a href="{{ auction.get_absolute_url }}">Auction</a> &rsaquo; 
    Confirm Bid
</div>
{% endblock breadcrumbs %}

{% block content %}
{% expr auction.asset.period.world.user_is_master(user) as user_is_master %}
{% expr auction.did_user_bid(user) as user_bid %}

{% if error_message %}
<ul class="error_message">
    <li>{{ error_message }}</li>
</ul>
{% endif %}

<h2>Auction for Asset <span class="name">{{ auction.asset.name }}</span></h2>

{% if not auction.is_ended %}
<table class="formtable"><tr><td>
    <p>You are about to enter a bid in the amount of <strong>{{ bid_amount|floatformat:2 }}</strong>! If you are sure you want to place this bid, please click the "Confirm Bid" button below. Otherwise, you can go <a href=".">back to auction listing</a> to modify your bid.
        <form action="." method="post">
        <input type="hidden" name="bid_amount" value="{{ bid_amount}}">
        <input type="hidden" name="confirmation" value="True">
        <input type="submit" value="Confirm Bid >">
        </form>
    </p>
</td></tr></table>
{% else %}
    <p>You are too late, auction has ended.</p>
{% endif %}

<br>

<table id="auction_detail">
    <caption>Auction Details</caption>
    <tr>
        <th>Your bid status:</th>
        <td>
            {% if user_bid %}
                You have bid on this auction.<br>
                Your current bid is {{ user_bid.amount }}.
            {% else %}
                You have not yet bid on this auction.
            {% endif %}
        </td>
    </tr>
    {% if auction.is_ended %}
    <tr>
        <th>Auction winner:</th>
        <td>
            {% block bidder_display %}
                {% if user_bid.winner_of %}
                    {% ifequal auction.winning_bid_set.count 1 %}
                        <span class="winner">{{ user.username }}</span>
                    {% else %}
                        <span class="winner">{{ user.username }}</span> along with {{ auction.winning_bid_set.count|full_subtract:1|floatformat:0 }} other participants.
                    {% endifequal %}
                {% else %}
                    <span class="loser">Not You!</span>
                {% endif %}
            {% endblock bidder_display %}
        </td>
    </tr>
    {% endif %}
    <tr>
        {% if not auction.is_ended %}
            <th>Your maximum bid:<br>
            <span class="note">Enter {{ auction.minimum_bid|floatformat:2 }} or more.</span></th>
            <th>
                <form name="bid" action="." method="post">
                <input type="text" name="bid_amount">
                <input type="submit" value="Place Bid">
                </form>
            </td>
        {% else %}
            <th>Final price:</th>
            <td>
                {% ifequal auction.bid_set.count 0 %}
                    Not sold
                {% else %}
                    {{ auction.final_price|floatformat:2 }}
                {% endifequal %}
            </td>
        {% endif %}
    </tr>
    {% block true_value %}
    {% if auction.is_ended %}
        <tr>
            <th>Asset True Value:</th>
            <td>{{ auction.asset.true_value|floatformat:2 }}</td>
        </tr>
    {% endif %}
    {% endblock true_value %}
    <tr>
        {% if not auction.is_ended %}
            <th>End time:</th>
            <td>{{ auction.get_end_time|timeuntil }}<br>({{ auction.get_end_time }})</td>
        {% else %}
            <th>End time:</th>
            <td>Auction has ended<br>({{ auction.get_end_time }})</td>
        {% endif %}
    </tr>
    <tr>
        <th>Current time:</th>
        <td>{% now "Y-m-d H:i:s" %}</td>
    </tr>
    <tr>
        <th>Bid history:</th>
        <td><a href="{{ auction.get_absolute_url }}bid_history/">{{ auction.bid_set.count }} bids</a></td>
    </tr>
    <tr>
        <th>Start time:</th>
        <td>{{ auction.get_start_time }}</a></td>
    </tr>
</table>

<h3>Asset <span class="name">{{ auction.asset.name }}</span> Description</h3>
<p> {% autoescape off %}{{ auction.asset.description }}{% endautoescape %} </p>

{% endblock %}
