{% extends "base.html" %}

{% block title %}
Contact Us
{% endblock %}

{% block bodytag %}
<body onLoad="document.contact.subject.focus()">
{% endblock bodytag %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="/">Home</a> &rsaquo; 
    Contact Us
</div>
{% endblock breadcrumbs %}

{% block content %}

<h3>Contact Us</h3>

<form name="contact" action="/thegame/contact/" method="POST">
<table class="formtable">
<caption>Fill in the form below to send us email.</caption>
{{ form.as_table }}

<tr>
    <td></td>
    <td><input type="submit" value="Submit" /></td>
</tr>
</table>
</form>

{% endblock %}
