{% extends "base.html" %}
{% load tag_extras %}
{% load filter_extras %}

{% block title %}
Details on Period: {{ period.number }} of World: {{ world.name }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="/">Home</a> &rsaquo; 
    <a href="{{ world.get_absolute_url }}">World</a> &rsaquo; 
    Period
</div>
{% endblock breadcrumbs %}

{% block content %}
{% expr world.user_is_master(user) as user_is_master %}

{% if user_is_master %}
    <div class="change_view">
        {% block change_view %}
            <a href="{{period.get_absolute_url}}master/" class="changelink">Master View</a>
        {% endblock change_view %}
    </div>
{% endif %}

{% block edit_element_form %}
{% endblock edit_element_form %}

<h2>Details on Period <span class="name">{{ period.number }}</span> of World <span class="name">{{ world.name }}</span></h2>

<h3>Period <span class="name">{{ period.number }}</span>: <span class="name">{{ period.name }}</span></h3>
<p>{% autoescape off %}{{ period.description }}{% endautoescape %}</p>

<p>Period <span class="name">{{ period.number }}</span> risk-free rate: {{ period.risk_free_rate|floatformat:4 }}%.</p>

<h3>Period <span class="name">{{ period.number }}</span> Assets</h2>

<table class="site">
    <tr>
        <th>#</th>
        <th>Asset Name</th>
        <th>Asset description</th>
        <th>Bids</th>
        <th>Auction Status</th>
        {% if period.is_ended %}
            <th>High Bidder</th>
        {% endif %}
        <th>Auction End Time</th>
        {% block true_value_title %}
            {% if period.is_ended %}
                <th>True Value</th>
            {% endif %}
        {% endblock true_value_title %}
        {% block edit_title %}
        {% endblock edit_title %}
    </tr>
    {% for asset in period.asset_set.all %}
        {% if period.is_ended %}
            {{ asset.auction.calc_result }}
        {% endif %}
        <tr class="{% cycle 'even' 'odd' %}">
            <td>{{ forloop.counter }}</td>
            <td><a href="{{ asset.auction.get_absolute_url }}">{{ asset.name }}</a></td>
            <td style="text-align: left;">{% autoescape off %}{{ asset.description }}{% endautoescape %}</td>
            <td style="text-align: left;"><a href="{{ asset.auction.get_absolute_url }}bid_history/">{{ asset.auction.bid_set.count }} bids</a></td>
            <td style="text-align: left;">
                {% if asset.auction.is_ended %}
                    Ended: 
                    {% ifequal asset.auction.bid_set.count 0 %}
                        Not sold
                    {% else %}
                        Sold for: {{ asset.auction.final_price|floatformat:2 }}
                    {% endifequal %}
                {% else %}
                    In progress
                {% endif %}
            </td>
            {% if period.is_ended %}
            <td style="text-align: left;">
                {% block high_bidder_display %}
                    {% expr asset.auction.did_user_bid(user) as user_bid %}
                    {% if user_bid.winner_of %}
                        {% ifequal asset.auction.winning_bid_set.count 1 %}
                            <span class="winner">{{ user.username }}</span>
                        {% else %}
                            <span class="winner">{{ user.username }}</span> along with {{ asset.auction.winning_bid_set.count|full_subtract:1|floatformat:0 }} other participants.
                        {% endifequal %}
                    {% else %}
                        {% ifequal asset.auction.bid_set.count 0 %}
                            No bids
                        {% else %}
                            <span class="loser">Not You!</span>
                        {% endifequal %}
                    {% endif %}
                {% endblock high_bidder_display %}
            </td>
            {% endif %}
            <td style="text-align: left;">{{ asset.auction.get_end_time|timeuntil }} ({{ asset.auction.get_end_time }})</td>
            {% block true_value %}
                {% if period.is_ended %}
                    <td>{{ asset.true_value|floatformat:2 }}</td>
                {% endif %}
            {% endblock true_value %}
            {% block edit_link %}
            {% endblock edit_link %}
        </tr>
    {% endfor %}
</table>

<p><a href="/thegame/userprofile/">[back to user home]</a></p>

{% endblock %}
