{% extends "base.html" %}
{% load tag_extras %}

{% block title %}
User Profile
{% endblock %}

{% block content %}

<p>Welcome, {{ user.username }}. Your last login was at {{ user.last_login }}.</p>

<h3>Your world memberships and statistics</h3>
<table>
{% for membership in user_membership_list %}
    <tr>
        <td  class="left">
            <a href="{{ membership.world.get_absolute_url }}"><h3 class="section">{{ membership.world.name }}</h3></a>
            {% if membership.is_master %}
                <div style="background-color: #eeeeec; border: 1px solid bbbbbb; padding: 3px;">
                    <div class="change_view">
                        {% block change_view %}
                            <a href="{{membership.world.get_absolute_url}}master/" class="changelink">Master View</a>
                        {% endblock change_view %}
                    </div>
                    <div>
                        <ul style="margin: 0px; padding-left: 20px;">
                            <li>Pending user applications: {% expr membership.world.membership_set.filter(approved = False).count() %}</li>
                            <li>World masters: {% expr membership.world.membership_set.filter(is_master = True).count() %}</li>
                        </ul>
                    </div>
                </div>
            {% endif %}
            <p>{% autoescape off %}{{ membership.world.description }}{% endautoescape %}</p>
            <table class="site">
                <tr>
                    <th>Period</th>
                    <th>Period status</th>
                    <th>Number of assets</th>
                    <th>Auctions won</th>
                    <th>Wealth created</th>
                </tr>
                {% for period in membership.world.period_set.all %}
                    {{ period.calc_period_summary }}
                    {% expr period.periodsummary_set.filter(user = user) as usersummary %}
                    <tr class="{% cycle 'even' 'odd' %}">
                        <td class="left"><a href="{{ period.get_absolute_url }}" class="detail">{{ period.number }}: {{ period.name }}</a></td>
                        <td>{{ period.get_period_status }}</td>
                        <td>{{ period.asset_set.count }}</td>
                        <td>
                        {% if period.is_ended and period.summary_completed %}
                            {% if not membership.is_master %}
                                {% if usersummary %}
                                    {{ usersummary.0.auctions_won }}
                                {% else %}
                                    --
                                {% endif %}
                            {% else %}
                                --
                            {% endif %}
                        {% else %}
                            Period not yet complete.
                        {% endif %}
                        <td>
                        {% if period.is_ended and period.summary_completed %}
                            {% if not membership.is_master %}
                                {% if usersummary %}
                                    <a href="{{ period.get_absolute_url }}period_results/">{{ usersummary.0.wealth_created|floatformat:2 }}</a>
                                {% else %}
                                    <a href="{{ period.get_absolute_url }}period_results/">--</a>
                                {% endif %}
                            {% else %}
                                <a href="{{ period.get_absolute_url }}period_results/">[results]</a>
                            {% endif %}
                        {% else %}
                            Period not yet complete.
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            <ul class="notes">
                <li>
                    Your current wealth in this world: 
                    {{ membership.wealth|floatformat:2 }}
                </li>
                <li>Number of users in world: {{ membership.world.membership_set.count }}</li>
                <li>Number of periods in world: {{ membership.world.period_set.count }}</li>
                <li>Default error in absence of bid: {{ membership.world.default_nobid_error }}</li>
                <li>Default discount in absence of second bid: {{ membership.world.lone_bidder_profit }}</li>
            </ul>
        </td>
    </tr>
{% endfor %}
</table>



{% endblock %}
